{% extends 'base.html' %}

{% block title %}TO DO LIST{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning" role="alert">
    <button type="" class="close" data-dismiss="alert">
      <small><span>x</span></small>
    </button>
    {{ message }}
  </div>
  {% endfor %}
{% endif %}

  {% if all_items %}
    <table class="table table-bordered">
    {% for i in all_items %}
      {% if i.completed %}
        <tr class="table-success font-italic">
          <td class="striker"><a href="{% url 'edit' i.id %}">{{ i.item }}</a></td>
          <!-- <td><center>{{i.completed}}</center></td> -->
          <td><center><a href="{% url 'uncross_off' i.id %}">Uncross</a></center></td>
          <td><center><a href="{% url 'delete' i.id %}">Delete</a></center></td>
        </tr>
      {% else %}
        <tr>
          <td><a href="{% url 'edit' i.id %}">{{ i.item }}</a></td>
          <td><center><a href="{% url 'cross_off' i.id %}">Cross off</a></center></td>
          <td><center><a href="{% url 'delete' i.id %}">Delete</a></center></td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}


{% endblock %}
